* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}


body {
  background-color: #121212;
  color: #f0f0f0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* ส่วน Profile */
.profile
{
  text-align: center;
  padding: 60px 20px;
  animation: fadeInDown 1s ease-out;
}

.profile-img
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #03dac6;
  margin-bottom: 1rem;
  animation: pop 0.8s ease-in;
}

.profile h1 
{
  font-size: 2.5rem;
  color: #D59D04;
}

.role
{
  font-size: 1.1rem;
  color: #aaa;
}

/* ส่วนแนะนำตัว */
.about
{
  padding: 60px 20px;
  max-width: 700px;
  margin: auto;
  text-align: center;
  animation: fadeIn 1.2s ease-in;
}

.about h2
{
  color: #D57304;
  margin-bottom: 1rem;
}

.about p
{
  color: #cccccc;
  font-size: 1rem;
}

/* ส่วน Skills */
.skills
{
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.skills h2
{
  color: #F9F4B0;
  margin-bottom: 1rem;
  animation: fadeIn 1.3s ease-in;
}

.skill-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.skill-card {
  background: #1e1e1e;
  border: 2px solid #F9F4B0;
  color: #F9F4B0;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease;
  animation: floatIn 0.6s ease-in forwards;
  opacity: 0;
}

.skill-card:hover {
  transform: scale(1.05);
}

/* Keyframes Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .skill-card {
    width: 100px;
  }

  .profile h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 0.95rem;
  }
}

.project h2 {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #62D554;
}
.pro-card-1 {
  background: #1e1e1e;
  border: 2px solid #F9F4B0;
  color: #F9F4B0;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  

  display: flex;
flex-wrap: wrap;
justify-content: center;
}

.project a {
 padding: 60px 20px;
 max-width: 800px;
 margin: auto;
 text-align: center;
 color: #BF731C;
 margin-bottom: 1rem;
}
.certificate {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: #1CBF5F;
}